In [2]:
import pandas as pd
import numpy as np

In [3]:
# Importing data

df = pd.read_csv("Pitching.csv")
df
# pd.read_table helps with reading data tables. 
# pd.read_excel helps with reading excel files.

,Unnamed: 0,playerID,yearID,stint,teamID,lgID,W,L,G,GS,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,0,bechtge01,1871,1,PH1,NaN,1,2,3,3,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,1,brainas01,1871,1,WS3,NaN,12,15,30,30,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,2,fergubo01,1871,1,NY2,NaN,0,0,1,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,3,fishech01,1871,1,RC1,NaN,4,16,24,24,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,44134,youngch03,2015,1,KCA,AL,11,6,34,18,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,44137,zitoba01,2015,1,OAK,AL,0,0,3,2,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,44138,zychto01,2015,1,SEA,AL,0,0,13,1,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [4]:
# Exporting data

# df.to_csv("Pitching.csv")

In [6]:
# Creating random testing objects

# df2 = pd.DataFrame(np.random.rand(8,5))
#df2

          0         1         2         3         4
0  0.517780  0.758859  0.159377  0.466618  0.611957
1  0.909736  0.102716  0.101456  0.803902  0.191921
2  0.074467  0.160232  0.631393  0.464098  0.606588
3  0.029627  0.759655  0.654690  0.447631  0.980420
4  0.320270  0.794261  0.933811  0.519881  0.966772
5  0.542696  0.087193  0.458636  0.790005  0.473599
6  0.403244  0.432686  0.184379  0.896482  0.251296
7  0.531775  0.997371  0.827078  0.042278  0.628834

In [13]:
# Basic Data Description

# df.head(10)
# df.tail(10)
# df.shape()
# df.info()
# df.describe()

,Unnamed: 0,yearID,stint,W,L,G,GS,CG,SHO,SV,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
count,44139.000000,44139.000000,44139.00000,44139.000000,44139.000000,44139.000000,44139.000000,44139.000000,44139.00000,44139.000000,...,29564.000000,44006.000000,43580.000000,44139.000000,43900.000000,44006.000000,44139.000000,11239.000000,11239.000000,745.000000
mean,22069.000000,1967.786493,1.07925,4.748794,4.748771,23.667142,9.552550,3.207979,0.45615,1.503976,...,2.447064,2.534836,2.271111,0.303881,345.551572,6.355611,43.332291,2.207759,1.908088,4.844295
std,12741.976103,37.352599,0.28443,5.837989,5.007080,18.462900,12.312479,7.134955,1.11821,4.971535,...,2.792671,3.438515,3.008115,0.759298,350.259188,10.003279,43.437952,2.751917,2.143002,5.524863
min,0.000000,1871.000000,1.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11034.500000,1940.000000,1.00000,0.000000,1.000000,7.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,64.000000,0.000000,11.000000,0.000000,0.000000,1.000000
50%,22069.000000,1977.000000,1.00000,2.000000,3.000000,22.000000,3.000000,0.000000,0.00000,0.000000,...,2.000000,1.000000,1.000000,0.000000,229.000000,3.000000,29.000000,1.000000,1.000000,3.000000
75%,33103.500000,2000.000000,1.00000,7.000000,8.000000,35.000000,18.000000,3.000000,0.00000,1.000000,...,4.000000,4.000000,3.000000,0.000000,540.000000,8.000000,68.000000,3.000000,3.000000,7.000000
max,44138.000000,2015.000000,4.00000,59.000000,48.000000,106.000000,75.000000,75.000000,16.00000,62.000000,...,23.000000,63.000000,41.000000,16.000000,2906.000000,84.000000,519.000000,21.000000,14.000000,36.000000

In [18]:
# Selecting parts of dataset

# df["playerID"]
# df[["playerID", "yearID"]]
# df.iloc[0,:]
# df.iloc[:,1]

0        bechtge01
1        brainas01
2        fergubo01
3        fishech01
4        fleetfr01
           ...
44134    youngch03
44135    zieglbr01
44136    zimmejo02
44137     zitoba01
44138     zychto01
Name: playerID, Length: 44139, dtype: object

In [19]:
# Dropping columns

# list = ["playerID", "yearID"]
# df.drop(list, axis = 1)

,Unnamed: 0,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,0,1,PH1,NaN,1,2,3,3,2,0,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,1,1,WS3,NaN,12,15,30,30,30,0,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,2,1,NY2,NaN,0,0,1,0,0,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,3,1,RC1,NaN,4,16,24,24,22,1,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,4,1,NY2,NaN,0,1,1,1,1,0,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,44134,1,KCA,AL,11,6,34,18,0,0,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,44135,1,ARI,NL,0,3,66,0,0,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,44136,1,WAS,NL,13,10,33,33,0,0,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,44137,1,OAK,AL,0,0,3,2,0,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,44138,1,SEA,AL,0,0,13,1,0,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [26]:
## Dealing with null values

# df.dropna()
# df.dropna(axis = 1)
# df.fillna('Lakers')
# df.isnull()
# df.rename(columns={'yearID': 'bob'})

,Unnamed: 0,playerID,bob,stint,teamID,lgID,W,L,G,GS,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,0,bechtge01,1871,1,PH1,NaN,1,2,3,3,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,1,brainas01,1871,1,WS3,NaN,12,15,30,30,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,2,fergubo01,1871,1,NY2,NaN,0,0,1,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,3,fishech01,1871,1,RC1,NaN,4,16,24,24,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,44134,youngch03,2015,1,KCA,AL,11,6,34,18,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,44137,zitoba01,2015,1,OAK,AL,0,0,3,2,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,44138,zychto01,2015,1,SEA,AL,0,0,13,1,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [28]:
# Applications
# df.apply(np.mean)
# df.apply(np.max, axis = 0)

In [30]:
# More summary statistics
# df.mean()
# df.corr()

,Unnamed: 0,yearID,stint,W,L,G,GS,CG,SHO,SV,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
Unnamed: 0,1.000000,0.971709,0.011474,-0.183947,-0.214528,0.157971,-0.179937,-0.445534,-0.260499,0.090248,...,-0.232329,-0.068575,-0.054596,0.063239,-0.151937,0.094743,-0.257677,-0.087824,-0.085316,0.038240
yearID,0.971709,1.000000,0.009592,-0.187937,-0.219115,0.168402,-0.184491,-0.489405,-0.252871,0.104388,...,-0.223129,-0.088841,-0.083132,0.097830,-0.137367,0.120046,-0.280124,-0.088369,-0.085498,NaN
stint,0.011474,0.009592,1.000000,-0.106852,-0.110185,-0.126115,-0.102889,-0.057891,-0.062587,-0.041977,...,-0.103024,-0.080781,-0.089661,-0.058535,-0.122491,-0.058531,-0.110989,-0.114423,-0.123668,-0.075292
W,-0.183947,-0.187937,-0.106852,1.000000,0.741651,0.501459,0.872609,0.764619,0.695123,0.032943,...,0.435425,0.538508,0.549710,0.213185,0.865797,0.002323,0.809599,0.668501,0.634010,0.783298
L,-0.214528,-0.219115,-0.110185,0.741651,1.000000,0.477008,0.862979,0.695796,0.517730,0.028107,...,0.483178,0.572446,0.571998,0.224167,0.832046,0.004408,0.903641,0.684107,0.687575,0.765329
G,0.157971,0.168402,-0.126115,0.501459,0.477008,1.000000,0.302259,0.258985,0.232435,0.475041,...,0.566517,0.385996,0.355035,0.182024,0.525748,0.668426,0.455304,0.300177,0.279599,0.302792
GS,-0.179937,-0.184491,-0.102889,0.872609,0.862979,0.302259,1.000000,0.716398,0.639402,-0.143493,...,0.295668,0.558375,0.584791,0.253574,0.884510,-0.257660,0.887687,0.682348,0.679231,0.797155
CG,-0.445534,-0.489405,-0.057891,0.764619,0.695796,0.258985,0.716398,1.000000,0.681530,-0.066932,...,0.283333,0.489600,0.442910,0.046915,0.664146,-0.121700,0.777516,0.408876,0.373074,0.490879
SHO,-0.260499,-0.252871,-0.062587,0.695123,0.517730,0.232435,0.639402,0.681530,1.000000,-0.057223,...,0.243030,0.328242,0.349651,0.118602,0.629675,-0.117795,0.505214,0.337872,0.281631,0.429887
SV,0.090248,0.104388,-0.041977,0.032943,0.028107,0.475041,-0.143493,-0.066932,-0.057223,1.000000,...,0.209936,0.028866,-0.006448,0.004664,0.025051,0.855356,-0.042288,-0.004328,-0.044838,-0.035287
IPouts,-0.226552,-0.231298,-0.120022,0.934844,0.889601,0.536578,0.937663,0.806810,0.673782,0.018720,...,0.496920,0.607091,0.609974,0.237469,0.926982,-0.003586,0.925330,0.745010,0.731653,0.862531
H,-0.241881,-0.251056,-0.117814,0.891605,0.907801,0.505447,0.930931,0.792835,0.605573,-0.011904,...,0.483166,0.591576,0.599938,0.224403,0.903724,-0.029520,0.966078,0.739402,0.749771,0.866390
ER,-0.170253,-0.169847,-0.122397,0.810646,0.902597,0.485436,0.909187,0.665872,0.493816,-0.036753,...,0.437259,0.587098,0.593770,0.250487,0.862112,-0.050917,0.964375,0.706974,0.755413,0.811810
HR,0.171060,0.206584,-0.106270,0.594346,0.630428,0.422054,0.707552,0.227855,0.294838,-0.003421,...,0.352259,0.399778,0.429917,0.275874,0.686882,-0.034653,0.639802,0.644891,0.685778,0.714089
BB,-0.190521,-0.175029,-0.121285,0.785870,0.821961,0.519549,0.830001,0.627029,0.522059,0.019039,...,0.512062,0.626234,0.573124,0.261557,0.816615,0.026697,0.844636,0.699293,0.697544,0.792808
SO,0.046980,0.050545,-0.121093,0.823201,0.726287,0.566856,0.814038,0.526173,0.566472,0.099904,...,0.437051,0.600239,0.563814,0.286528,0.837974,0.061885,0.715294,0.680069,0.638589,0.773054
BAOpp,-0.115321,-0.135635,0.009531,0.014363,0.029040,-0.038654,0.021435,0.070889,0.025831,-0.026662,...,-0.118598,0.026079,0.031015,-0.024265,0.020256,-0.029387,0.046746,-0.093088,-0.058009,-0.097192
ERA,0.030480,0.024944,0.000773,-0.220137,-0.176408,-0.259137,-0.168656,-0.139557,-0.144922,-0.101594,...,-0.183548,-0.131305,-0.137734,-0.069701,-0.216868,-0.142582,-0.151642,-0.150555,-0.127977,-0.200148
IBB,-0.232329,-0.223129,-0.103024,0.435425,0.483178,0.566517,0.295668,0.283333,0.243030,0.209936,...,1.000000,0.346267,0.284857,0.209888,0.500843,0.342533,0.449183,0.492393,0.371933,0.359543
WP,-0.068575,-0.088841,-0.080781,0.538508,0.572446,0.385996,0.558375,0.489600,0.328242,0.028866,...,0.346267,1.000000,0.410715,0.174803,0.568145,0.031278,0.628130,0.443301,0.477524,0.574507
HBP,-0.054596,-0.083132,-0.089661,0.549710,0.571998,0.355035,0.584791,0.442910,0.349651,-0.006448,...,0.284857,0.410715,1.000000,0.171263,0.577049,-0.008358,0.592046,0.540225,0.556927,0.702856
BK,0.063239,0.097830,-0.058535,0.213185,0.224167,0.182024,0.253574,0.046915,0.118602,0.004664,...,0.209888,0.174803,0.171263,1.000000,0.256263,0.007390,0.203883,0.256498,0.253402,0.209939
BFP,-0.151937,-0.137367,-0.122491,0.865797,0.832046,0.525748,0.884510,0.664146,0.629675,0.025051,...,0.500843,0.568145,0.577049,0.256263,1.000000,0.008575,0.840435,0.749357,0.742300,0.863599
GF,0.094743,0.120046,-0.058531,0.002323,0.004408,0.668426,-0.257660,-0.121700,-0.117795,0.855356,...,0.342533,0.031278,-0.008358,0.007390,0.008575,1.000000,-0.057213,-0.035405,-0.063234,-0.076256
R,-0.257677,-0.280124,-0.110989,0.809599,0.903641,0.455304,0.887687,0.777516,0.505214,-0.042288,...,0.449183,0.628130,0.592046,0.203883,0.840435,-0.057213,1.000000,0.712139,0.758597,0.820806
SH,-0.087824,-0.088369,-0.114423,0.668501,0.684107,0.300177,0.682348,0.408876,0.337872,-0.004328,...,0.492393,0.443301,0.540225,0.256498,0.749357,-0.035405,0.712139,1.000000,0.558911,0.662116
SF,-0.085316,-0.085498,-0.123668,0.634010,0.687575,0.279599,0.679231,0.373074,0.281631,-0.044838,...,0.371933,0.477524,0.556927,0.253402,0.742300,-0.063234,0.758597,0.558911,1.000000,0.640187
GIDP,0.038240,NaN,-0.075292,0.783298,0.765329,0.302792,0.797155,0.490879,0.429887,-0.035287,...,0.359543,0.574507,0.702856,0.209939,0.863599,-0.076256,0.820806,0.662116,0.640187,1.000000

In [19]:
# More summary statistics
# df.mean()
# df.corr()